<app-modal-header [tituloHeader]="tituloPorAccion"
    (accionCerrar)="cerrarModalSinInformacion($event)"></app-modal-header>

<form [formGroup]="form" class="formmularioCont">
    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Identificación</mat-label>
            <input matInput maxlength="13" placeholder="Identificación" formControlName="identificacion_cliente" />
            <mat-error *ngIf="form.controls.identificacion_cliente.hasError('required')">
                Identificación requerida
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tipo de Identificación</mat-label>
            <input matInput maxlength="100" placeholder="Tipo de Identificación" formControlName="tipo_identificacion_cliente" />
            <mat-error *ngIf="form.controls.tipo_identificacion_cliente.hasError('required')">
                Tipo de identificación requerido
            </mat-error>
        </mat-form-field>
    </div>

    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput maxlength="100" placeholder="Nombre" formControlName="nombre_cliente" />
            <mat-error *ngIf="form.controls.nombre_cliente.hasError('required')">
                Nombre requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput maxlength="45" placeholder="Apellido" formControlName="apellido_cliente" />
            <mat-error *ngIf="form.controls.apellido_cliente.hasError('required')">
                Apellido requerido
            </mat-error>
        </mat-form-field>
    </div>

    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput maxlength="10" placeholder="Teléfono" formControlName="telefono_cliente" />
            <mat-error *ngIf="form.controls.telefono_cliente.hasError('required')">
                Teléfono requerido
            </mat-error>
            <mat-error *ngIf="form.controls.telefono_cliente.hasError('pattern')">
                Teléfono debe tener 10 dígitos
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput maxlength="100" placeholder="Correo" formControlName="correo_cliente" />
            <mat-error *ngIf="form.controls.correo_cliente.hasError('required')">
                Correo requerido
            </mat-error>
            <mat-error *ngIf="form.controls.correo_cliente.hasError('email')">
                Ingrese un correo electrónico válido
            </mat-error>
        </mat-form-field>
    </div>

    <app-global-buttons [showCancel]="true" [textBtn2]="'GUARDAR'" (btnAction)="guardar()"></app-global-buttons>
</form>
