<app-modal-header [tituloHeader]="tituloPorAccion"
    (accionCerrar)="cerrarModalSinInformacion($event)"></app-modal-header>

<form [formGroup]="form" class="formmularioCont">
    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Descripción del Servicio</mat-label>
            <input matInput maxlength="100" placeholder="Descripción" formControlName="descripcion_servicio" />
            @if (this.form.controls.descripcion_servicio.hasError('required')) {
                <mat-error>Servicio requerida</mat-error>
                }
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Costo Unitario</mat-label>
            <input matInput type="number" step="0.01" placeholder="Costo Unitario" formControlName="costo_unitario" />
            @if (this.form.controls.costo_unitario.hasError('required')) {
                <mat-error>Valor requerida</mat-error>
                }
            @if (this.form.controls.costo_unitario.hasError('pattern')){
                <mat-error>Formato incorrecto</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Validar Pesaje</mat-label>
            <mat-select formControlName="validar_pesaje">
                <mat-option value="Si">Si</mat-option>
                <mat-option value="No">No</mat-option>
            </mat-select>
            @if (this.form.controls.validar_pesaje.hasError('required')) {
                <mat-error>Debe seleccionar una opción</mat-error>
                }
        </mat-form-field>
    </div>
    
    <app-global-buttons [showCancel]="true" [textBtn2]="'GUARDAR'" (btnAction)="guardar()"></app-global-buttons>
</form>
