<app-modal-header [tituloHeader]="tituloPorAccion"
    (accionCerrar)="cerrarModalSinInformacion($event)"></app-modal-header>

<form [formGroup]="form" class="formmularioCont">
    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput maxlength="60" placeholder="Nombre" formControlName="nombre" />
            @if (this.form.controls.nombre.hasError('required')) {
            <mat-error>Nombre requerido</mat-error> 
            }
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput maxlength="60" placeholder="Apellido" formControlName="apellido" />
            @if (this.form.controls.apellido.hasError('required')) {
            <mat-error>Apellido requerido</mat-error>
            }
        </mat-form-field>

    </div>

    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput maxlength="15" placeholder="Usuario" formControlName="usuario" />
            @if (this.form.controls.usuario.hasError('required')) {
            <mat-error>Usuario requerido</mat-error>
            }
        </mat-form-field>

    </div>

    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Perfil</mat-label>
            <mat-select formControlName="perfil">
                <mat-option value="Administrador">Administrador</mat-option>
                <mat-option value="Empleado">Empleado</mat-option>
            </mat-select>
            @if (this.form.controls.perfil.hasError('required')) {
            <mat-error>Debe seleccionar un perfil</mat-error>
            }
        </mat-form-field>
    </div>
    
    <app-global-buttons [showCancel]="true" [textBtn2]="'GUARDAR'" (btnAction)="guardar()"></app-global-buttons>

</form>