<app-modal-header [tituloHeader]="tituloPorAccion"
    (accionCerrar)="cerrarModalSinInformacion($event)"></app-modal-header>

<form [formGroup]="form" class="formmularioCont">
    <div class="formGroupCont">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Material</mat-label>
            <mat-select
                formControlName="descripcion_material" (selectionChange)="getSelectedMaterial($event, form)">
                @for (material of comboMaterial; track material) {
                <mat-option [value]="material.descripcion_material">
                    {{material.descripcion_material}}
                </mat-option>
                }
            </mat-select>
            @if (form.controls['descripcion_material'].hasError('required')) {
            <mat-error>Seleccione un material</mat-error>
            }

        </mat-form-field>
          

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Servicios</mat-label>
            <input  type="text" placeholder="Buscar servicio"
            aria-label="Servicios" matInput [formControl]="this.form.controls.descripcion_servicio"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
            <mat-option (onSelectionChange)="getSelectedService($event)"
                [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>  
     
        @if (this.form.controls.descripcion_servicio.hasError('required')) {
                <mat-error>Servicio requerido</mat-error> 
                }
                @if (this.form.controls.descripcion_servicio.hasError('pattern')) {
                    <mat-error>Solo se permiten letras y espacios</mat-error> 
                    }
                    @if (this.serviciosExistentesLong == 0) {
                        <mat-hint>El servicio buscado no existe</mat-hint>
                        }     
        </mat-form-field>
    </div>

    <app-global-buttons [showCancel]="true" [textBtn2]="'GUARDAR'" (btnAction)="guardar()"></app-global-buttons>

</form>