/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary: #191723;
    --primaryLigth: #252135;
    --primaryDark: #000000;

    --secondary: #2d584d;
    --secondaryLigth: #44796b;
    --secondaryDark: #203d36; 

    --xxxxlsize: max(25px, min(70px, 5vw));
    --xxxlsize: max(29px, min(35px, 3vw));
    --xxlsize: max(25px, min(29px, 3vw));
    --xlsize: max(20px, min(25px, 3vw));
    --lsize: max(18px, min(20px, 3vw));
    --msize: max(14px, min(16px, 3vw));
    --ssize: max(10px, min(14px, 3vw));
    --xssize: max(9px, min(12px, 3vw));

    --blackFont: "R-black", "Lucida Sans", sans-serif;
    --regularFont: "R-regular", "Lucida Sans", sans-serif;
    --semiBoldFont: "R-sBold", "Lucida Sans", sans-serif;
    --thinFont: "R-Thin", "Lucida Sans", sans-serif;

}

@font-face {
    font-family: R-black;
    src: url(/assets/fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: R-regular;
    src: url(/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: R-sBold;
    src: url(/assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: R-Thin;
    src: url(/assets/fonts/Raleway-Thin.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**************GLOBAL STYLES*****************/


/*********MATERIAL DESIGN OVERWRITE STYLES**********/

/*Para tamaño del input de formulario*/
.mat-mdc-form-field-flex {
    height: 40px !important;
}

.mdc-text-field--outlined .mdc-notched-outline {
    height: 40px !important;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    position: relative;
    top: 20px;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    position: relative;
    top: -5px;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    position: relative;
    top: 25px;
}