.buttonBack {
  max-width: 150px;
  font-weight: 700;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  justify-content: center!important;
}

table.rowAlternate mat-row:nth-child(odd) {
  background-color: #8181811e;
}

table.rowAlternate mat-row:nth-child(even) {
  background-color: #fff;
}

table.rowAlternate mat-row:nth-child(odd):hover {
  background-color: #8181811e;
}


/* table {
  width: 1200px !important;
} */

mat-cell {
  max-height: 17px;
  display: -webkit-box !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 0px 0 7px !important;
}

mat-row, mat-footer-row {
  min-height: 40px !important;
}

.mdc-data-table__cell , .mdc-data-table__header-cell {
  padding: 0 24px 0 24px !important;
  /* min-width: 120px; */
  text-align: center;
}

.pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222 142 0);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryLigth);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(172, 15, 54);
}


.edit:hover {
  background-color: var(--secondaryDark);
  transition: 0.3s;
}

.pdf:hover {
  background-color: rgb(196, 124, 0);
  transition: 0.3s;
}

.delete:hover {
  background-color: rgb(126, 10, 39);
  transition: 0.3s;
}

.mat-mdc-icon-button {
  color: var(--mdc-icon-button-icon-color);
  height: 30px !important;
  width: 30px !important;
  display: flex;
}

.mat-icon {
  overflow: inherit !important;
}

.material-icons {
  font-size: 20px !important;
}

.cellButtons {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}

.noDataItem {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.search-field {
  width: 100%;
  /* max-width: 700px; */
}

.mat-form-field {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.mat-form-field.mat-focused {
  background-color: #ffffff;
  border-color: #6200ea;
  /* Color cuando está enfocado */
}

.mat-icon {
  color: #888888;
}

input[matInput] {
  font-size: 16px;
}

.buttonConfirm,
.buttonBack,
.buttonDisabled {

  margin: inherit !important;
}

.mat-dialog-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.yellow-row {
  background-color: rgb(247, 244, 143)!important;
}

.red-row {
  background-color: rgb(188, 107, 107)!important;
}
