<div class="contenedorTabla p-3">
  <div class="tableItemsHeader">
    <label class="listadoNameStyle">Listados de registros</label>
  </div>

  <div class="listadoContStyle">
    <div style="
      display: flex;
    flex-direction: row;
    gap: 17px;
    justify-content: flex-start;
">
      <button type="button" class="buttonBack mb-4" (click)="actionRow('crear', {})" *ngIf="verBtnCrear">
        Crear registro
      </button>

      <app-global-buttons [showConfirm]="true" [showCancel]="false" [textBtn1]="'Imprimir Reporte'" (click)="('PDF')"
        *ngIf="showPdfButtonNextToCreate" style="width: 20%;">
      </app-global-buttons>


      <!-- Campo de búsqueda, visible solo si mostrarFiltro es true -->
      <div class="w-100 search-field-container d-flex flex-row g-2">
        <!-- Botón para alternar la visibilidad del filtro de búsqueda -->
        <!-- <button mat-button (click)="toggleFiltro()">
          <mat-icon>{{ mostrarFiltro ? "close" : "search" }}</mat-icon>
        </button> -->
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matSuffix>search</mat-icon>
          <input maxlength="100" matInput (keyup)="applyFilter($event)" placeholder="Buscar en los registros" />
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive table-responsiveCustom">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingTable"></mat-progress-bar>

      <table class="rowAlternate" mat-table [dataSource]="dataSource">
        @for (column of titulos; track column) {
        <ng-container class="rowAlternate" [matColumnDef]="column.value">
          <mat-header-cell *matHeaderCellDef>{{
            column.viewValue
            }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="column.value === 'imagen'; else textCell">
              <div (mouseenter)="showZoomButton = true" (mouseleave)="showZoomButton = false"
                style="position: relative; display: inline-block;">
                <img *ngIf="element.imagen" [src]="element.imagen" alt="Imagen del material"
                  style="max-width: 100px; max-height: 100px" />
                <button *ngIf="showZoomButton" mat-icon-button (click)="openImageDialog(element.imagen)"
                  style="position: absolute; top: 0; right: 0; background: rgba(255, 255, 255, 0.7);">
                  <mat-icon>zoom_in</mat-icon>
                </button>
              </div>
            </ng-container>

            <ng-template #textCell>
              {{ element[column.value] }}
            </ng-template>
          </mat-cell>
        </ng-container>
        }
        <ng-container matColumnDef="accion" [stickyEnd]="true">
          <mat-header-cell class="tableCont" mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell style="background-color: rgb(255, 255, 255); padding: 0 10px;" class="cellButtons" mat-cell
            *matCellDef="let element">
            @if (verEditar) {
            <button matTooltip="Editar" matTooltipPosition="above" class="edit" type="button" mat-icon-button
              (click)="actionRow('editar', element)">
              <mat-icon style="color: white; display: flex; align-items: center">edit</mat-icon>
            </button>
            }
            @if (verFacturas) {
            <button matTooltip="Facturas del pedido" matTooltipPosition="above" class="edit" type="button"
              mat-icon-button (click)="actionRow('recibos', element)">
              <mat-icon style="color: white; display: flex; align-items: center">receipt</mat-icon>
            </button>
            }
            @if (verEliminar) {
            <button matTooltip="Eliminar" matTooltipPosition="above" class="delete" type="button" mat-icon-button
              (click)="actionRow('eliminar', element)">
              <mat-icon style="color: white; display: flex; align-items: center">restore_from_trash</mat-icon>
            </button>
            }
            @if (verPdf) {
            <button matTooltip="Imprimir PDF" matTooltipPosition="above" class="pdf" type="button" mat-icon-button
              (click)="actionRow('PDF', element)" >
              <mat-icon style="color: white; display: flex; align-items: center">description</mat-icon>
            </button>
          }
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns" [ngClass]="{
            'yellow-row': !isEstadosRoute() && row.descripcion_estado === 'Por recoger',
            'red-row': row.descripcion_estado == 'Entregado con atraso' || compareDates(row.fecha_entrega_estimada)  && 
            row.descripcion_estado !== 'Entregado'          
        }" [matTooltip]="!isEstadosRoute() && row.descripcion_estado === 'Por recoger' ? 'Pedido pendiente por recoger' : 
                     (compareDates(row.fecha_entrega_estimada) ? 'Entrega con atraso' : '')">
        </mat-row>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell noDataItem" colspan="4">
            No se encontraron registros
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>